<div
  class="absolute xl:right-5 right-1.5 xl:top-5 top-1.5 xl:w-[200px] w-[148px] {=$class}"
>
  <div
    class="linear-gradient-blue shadow-agreement-name-and-position w-full xl:h-11 h-[30px] xl:rounded-[7px] rounded-[4px] flex justify-center items-center text-white text-center xl:text-lg text-sm font-bold xl:leading-[23.4px] leading-[18.2px]"
  >
    {=$name}
  </div>

  <div
    class="shadow-agreement-name-and-position linear-gradient-gray-position w-full xl:h-11 h-[30px] xl:rounded-[7px] rounded-[4px] flex justify-center items-center text-center xl:leading-[18.2px] leading-[15.6px] xl:text-sm text-xs font-light"
  >
    Опыт работы&nbsp;<span class="font-semibold">с {=$year} г</span>
  </div>
</div>
