<section class="mx-auto container-main xl:space-y-[58px] space-y-2.5">
  <div class="flex xl:flex-row flex-col xl:gap-0 gap-[30px] items-center">
    <div class="xl:space-y-10 space-y-5">
      <h2 class="xl:text-nowrap xl:text-left text-center">
        Ваши окна будут устанавливать<br class="xl:block hidden" />
        <span>опытные монтажники</span><br class="xl:block hidden" />
        с опытом работы более 10 лет
      </h2>

      <div class="xl:space-y-6 space-y-3.5">
        <load
          src="src/components/Workers/Card.html"
          icon="workerEdge1.webp"
          text="Работаем <span>с применением паро<br/>-и гидроизоляционных лент</span> согласно<br/> техническому регламенту"
        />
        <load
          src="src/components/Workers/Card.html"
          icon="workerEdge2.webp"
          text="<span>Не экономим на расходниках</span> и используем<br/> только качественную пену и герметик от лучших<br/> производителей"
        />
        <load
          src="src/components/Workers/Card.html"
          icon="workerEdge3.webp"
          text="Наш сервис включает в себя <span>сохранность<br/> мебели и техники защитной плёнкой, уборку<br/> строительного мусора</span> после завершения работ"
        />
      </div>
    </div>

    <div
      class="xl:bg-[url('workerMain.webp')] bg-[url('workerMainMobile.webp')] xl:h-[582px] h-[220px] xl:w-[778px] w-full bg-cover bg-no-repeat rounded-[5px] relative"
    >
      <load
        src="src/components/Workers/Badge.html"
        name="Семён М."
        year="2002"
        class=""
      />
      &nbsp;
    </div>
  </div>

  <div class="grid xl:grid-cols-2 grid-cols-1 xl:gap-6 gap-2.5 xl:h-[496px]">
    <div
      class="bg-[url('worker1.webp')] bg-cover bg-no-repeat rounded-[5px] relative xl:h-auto h-[220px]"
    >
      <load
        src="src/components/Workers/Badge.html"
        name="Игорь В."
        year="2014"
        class=""
      />
    </div>

    <div
      class="bg-[url('worker2.webp')] bg-cover bg-no-repeat rounded-[5px] relative xl:h-auto h-[220px]"
    >
      <load
        src="src/components/Workers/Badge.html"
        name="Алексей К."
        year="2004"
        class=""
      />
    </div>
  </div>
</section>
