<section class="mx-auto container-main space-y-[58px]">
  <div class="flex items-center">
    <div class="space-y-10">
      <h2 class="text-nowrap">
        Ваши окна будут устанавливать<br />
        <span>опытные монтажники</span><br />
        с опытом работы более 10 лет
      </h2>

      <div class="space-y-6">
        <load
          src="src/components/Workers/Card.html"
          icon="workerEdge1.webp"
          text="Работаем <span>с применением паро<br/>-и гидроизоляционных лент</span> согласно<br/> техническому регламенту"
        />
        <load
          src="src/components/Workers/Card.html"
          icon="workerEdge2.webp"
          text="<span>Не экономим на расходниках</span> и используем<br/> только качественную пену и герметик от лучших<br/> производителей"
        />
        <load
          src="src/components/Workers/Card.html"
          icon="workerEdge3.webp"
          text="Наш сервис включает в себя <span>сохранность<br/> мебели и техники защитной плёнкой, уборку<br/> строительного мусора</span> после завершения работ"
        />
      </div>
    </div>

    <div
      class="bg-[url('workerMain.webp')] h-[582px] w-[778px] bg-cover bg-no-repeat rounded-[5px] relative"
    >
      <div class="absolute right-5 top-5 w-[200px]">
        <div
          class="linear-gradient-blue shadow-agreement-name-and-position w-full h-11 rounded-[7px] flex justify-center items-center text-white text-center text-lg font-bold leading-[23.4px]"
        >
          Семён М.
        </div>

        <div
          class="shadow-agreement-name-and-position linear-gradient-gray-position w-full h-11 rounded-[7px] flex justify-center items-center text-center leading-[18.2px] text-sm font-light"
        >
          Опыт работы&nbsp;<span class="font-semibold">с 2002 г</span>
        </div>
      </div>
      &nbsp;
    </div>
  </div>

  <div class="grid grid-cols-2 gap-6 h-[496px]">
    <div
      class="bg-[url('worker1.webp')] bg-cover bg-no-repeat rounded-[5px] relative"
    >
      <div class="absolute right-5 top-5 w-[200px]">
        <div
          class="linear-gradient-blue shadow-agreement-name-and-position w-full h-11 rounded-[7px] flex justify-center items-center text-white text-center text-lg font-bold leading-[23.4px]"
        >
          Игорь В.
        </div>

        <div
          class="shadow-agreement-name-and-position linear-gradient-gray-position w-full h-11 rounded-[7px] flex justify-center items-center text-center leading-[18.2px] text-sm font-light"
        >
          Опыт работы&nbsp;<span class="font-semibold">с 2014 г</span>
        </div>
      </div>
    </div>

    <div
      class="bg-[url('worker2.webp')] bg-cover bg-no-repeat rounded-[5px] relative"
    >
      <div class="absolute right-5 top-5 w-[200px]">
        <div
          class="linear-gradient-blue shadow-agreement-name-and-position w-full h-11 rounded-[7px] flex justify-center items-center text-white text-center text-lg font-bold leading-[23.4px]"
        >
          Алексей К.
        </div>

        <div
          class="shadow-agreement-name-and-position linear-gradient-gray-position w-full h-11 rounded-[7px] flex justify-center items-center text-center leading-[18.2px] text-sm font-light"
        >
          Опыт работы&nbsp;<span class="font-semibold">с 2004 г</span>
        </div>
      </div>
    </div>
  </div>
</section>
