<section
  class="custom:bg-[url('bgAgreement.webp')] bg-right bg-contain bg-no-repeat h-[729px]"
>
  <div class="container-main mx-auto h-full flex gap-[50px] relative">
    <img class="h-full w-[474px]" src="Agreement.webp" alt="Договор" />

    <div class="pt-[56px]">
      <div class="space-y-[5px] text-[40px] leading-[52px]">
        <p>Все работы выполняются</p>
        <p class="font-semibold">согласно договора</p>
      </div>

      <p class="mt-5 text-[26px] font-light leading-[33.8px]">
        в котором четко прописываем:
      </p>

      <div class="mt-[22px] space-y-4 w-[476px]">
        <load
          src="src/components/Agreement/Card.html"
          title="Сроки изготовления и установки"
          text="В случае нарушения сроков несём материальную ответственность перед заказчиком"
        />
        <load
          src="src/components/Agreement/Card.html"
          title="Гарантию на изделие и установку<br/> до 10 лет"
          text="Предоставляем бесплатное сервисное обслуживание от 5 до 10 лет в зависимости от выбранной профильной системы, фурнитуры и комплектующих"
        />
        <load
          src="src/components/Agreement/Card.html"
          title="Фиксированную стоимость"
          text="Которая не изменится в процессе выполнения работ"
        />
      </div>

      <button
        class="mt-7 hover:opacity-75 text-white leading-[23.4px] text-lg font-semibold w-[371px] h-[60px] bg-secondary"
      >
        Вызвать мастера на замер
      </button>
    </div>

    <div class="absolute right-0 bottom-0 flex flex-col items-center">
      <p
        class="linear-gradient-blue shadow-agreement-name-and-position text-xl leading-[26px] font-bold flex justify-center relative z-[1] items-center h-[57px] w-[235px] rounded-[7px] text-white"
      >
        Кузнецов Алексей
      </p>

      <p
        class="shadow-agreement-text linear-gradient-gray-text rounded-[7px] w-[352px] h-[160px] flex justify-center items-center text-lg italic leading-[23.4px] font-semibold text-[#164673] text-center -mt-[18px] -mb-5"
      >
        “Мы дорожим репутацией - при обнаружении дефектов незамедлительно
        исправляем недочеты за свой счет”
      </p>

      <p
        class="linear-gradient-gray-position shadow-agreement-name-and-position rounded-[7px] flex-col flex justify-center items-center h-[71px] w-[250.65px] font-light text-center text-lg leading-[23.4px]"
      >
        Руководитель-мастер<span class="font-semibold">ООО «КубДекор»</span>
      </p>
    </div>
  </div>
</section>
