<section
  id="modalOrder"
  class="fixed flex overflow-hidden z-[-1] opacity-0 transition-all h-full duration-1000 bg-black/50 backdrop-blur-2xl w-full justify-center items-center xl:px-0 px-2.5"
>
  <div
    class="xl:max-w-[1058px] w-full xl:h-[600px] bg-[#F8F8F8] relative rounded-[10px] xl:pt-[100px] pt-[37px] xl:pl-[60px] pl-2.5 xl:pr-0 pr-2.5 xl:pb-0 pb-[207px]"
  >
    <button class="absolute top-6 right-6 p-4 -m-4 closeModal" type="button">
      <svg
        class="xl:w-6 w-2.5 xl:h-6 h-2.5"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_2360_452)">
          <path
            d="M12 12L22 22M12 12L2 2M12 12L2 22M12 12L22 2"
            stroke="#333333"
            stroke-width="3"
            stroke-linecap="round"
          />
        </g>
        <defs>
          <clipPath id="clip0_2360_452">
            <rect width="24" height="24" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </button>

    <div class="space-y-5 xl:w-[586px] w-full">
      <h4 class="font-semibold titleOrderForm"></h4>

      <p
        class="xl:leading-[33.8px] leading-[17.07px] xl:!mt-5 !mt-2.5 font-light xl:text-[26px] text-sm"
      >
        Оставьте заявку и наш менеджер свяжется с Вами в течение 15 мин
      </p>

      <form id="orderForm" class="space-y-5">
        <input
          class="bg-white rounded-[5px] xl:w-[416px] xl:text-base text-sm xl:leading-[20.8px] leading-[18.2px] w-full xl:h-[60px] h-10 px-5 xl:py-5 py-[11px] placeholder:text-[#7C7C7C] phone-input"
          placeholder="Телефон"
          type="tel"
          name="tel"
        />

        <div class="flex items-center gap-2.5">
          <input
            class="rounded-sm h-[18px] w-[18px]"
            id="conf"
            name="conf"
            type="checkbox"
          />

          <label
            class="text-[#4C4C4C] text-sm leading-[17.07px] font-light"
            for="conf"
            >Соглашаюсь с
            <a class="underline" href=""
              >Политикой обработки персональных данных</a
            ></label
          >
        </div>

        <button
          type="submit"
          class="xl:leading-[21.94px] leading-[20.8px] font-semibold xl:text-lg text-base rounded-[5px] bg-secondary text-white xl:h-[60px] h-10 xl:w-[288px] w-full"
        >
          Перезвоните мне
        </button>
      </form>
    </div>

    <img
      class="absolute xl:right-0 right-1/2 xl:-translate-x-0 translate-x-1/2 xl:-bottom-[45.31px] -bottom-[49px] xl:w-[441px] w-[231px] xl:h-[488.82px] h-[256px] object-cover"
      src="windowOrder.webp"
      alt="Окно"
    />
  </div>
</section>
