<section
  class="container-main mx-auto rounded-lg linear-gradient-gray shadow-main px-[50px] py-[60px] flex items-center gap-[50px] relative"
>
  <div class="grid grid-cols-2 gap-3 gap-y-[25px]">
    <img
      class="shadow-debit-card w-[174px] h-[109px] object-cover"
      src="card1.webp"
      alt="МТБанк"
    />
    <img
      class="shadow-debit-card w-[174px] h-[109px] object-cover"
      src="card2.webp"
      alt="БеларусьБанк"
    />
    <img
      class="shadow-debit-card w-[174px] h-[109px] object-cover"
      src="card3.webp"
      alt="БелГазПромБанк"
    />
    <img
      class="shadow-debit-card w-[174px] h-[109px] object-cover"
      src="card4.webp"
      alt="СберБанк"
    />
    <img
      class="shadow-debit-card w-[174px] h-[109px] object-cover"
      src="card5.webp"
      alt="ВТБанк"
    />
    <img
      class="shadow-debit-card w-[174px] h-[109px] object-cover"
      src="card6.webp"
      alt="АльфаБанк"
    />
  </div>

  <div class="space-y-7">
    <div class="space-y-5">
      <h4><span>Рассрочка</span> от компании<br /><span>до 6 месяцев</span></h4>

      <div class="grid grid-cols-2 gap-x-[30px] gap-y-2.5 max-w-[500px]">
        <load
          src="src/components/InstallmentLoan/Card.html"
          title="Без справок
          и поручителей"
        />
        <load
          src="src/components/InstallmentLoan/Card.html"
          title="Заключение договора
          у Вас на дому"
        />
        <load
          src="src/components/InstallmentLoan/Card.html"
          title="Оплата через ЕРИП без посещения офиса"
        />
        <load
          src="src/components/InstallmentLoan/Card.html"
          title="Принимаем к оплате
          карты рассрочек"
        />
      </div>
    </div>

    <div class="space-y-5">
      <h4 class="font-semibold">Кредит на 24 месяца</h4>

      <button
        class="bg-secondary hover:opacity-75 text-lg font-semibold leading-[23.4px] w-[340px] h-[60px] text-white"
      >
        Узнать подробнее
      </button>
    </div>
  </div>

  <img
    class="w-[283px] absolute bottom-[28.34px] right-[50px] h-[394.66px] object-cover"
    src="terminal.webp"
    alt="Терминал"
  />
</section>
