<section class="container-main mx-auto">
  <div
    class="rounded-lg linear-gradient-gray shadow-main xl:px-[50px] px-2.5 xl:py-[60px] py-5 flex xl:flex-row flex-col-reverse items-center xl:gap-[50px] gap-[30px] relative"
  >
    <div class="grid grid-cols-2 xl:gap-x-3 gap-2.5 xl:gap-y-[25px] gap-y-3.5">
      <img
        class="shadow-debit-card xl:w-[174px] w-[135px] xl:h-[109px] h-[85px] object-cover"
        src="card1.webp"
        alt="МТБанк"
      />
      <img
        class="shadow-debit-card xl:w-[174px] w-[135px] xl:h-[109px] h-[85px] object-cover"
        src="card2.webp"
        alt="БеларусьБанк"
      />
      <img
        class="shadow-debit-card xl:w-[174px] w-[135px] xl:h-[109px] h-[85px] object-cover"
        src="card3.webp"
        alt="БелГазПромБанк"
      />
      <img
        class="shadow-debit-card xl:w-[174px] w-[135px] xl:h-[109px] h-[85px] object-cover"
        src="card4.webp"
        alt="СберБанк"
      />
      <img
        class="shadow-debit-card xl:w-[174px] w-[135px] xl:h-[109px] h-[85px] object-cover"
        src="card5.webp"
        alt="ВТБанк"
      />
      <img
        class="shadow-debit-card xl:w-[174px] w-[135px] xl:h-[109px] h-[85px] object-cover"
        src="card6.webp"
        alt="АльфаБанк"
      />
    </div>

    <div class="xl:space-y-7 space-y-5">
      <div class="xl:space-y-5 space-y-4">
        <h4>
          <span>Рассрочка</span> от компании<br /><span>до 6 месяцев</span>
        </h4>

        <div
          class="grid xl:grid-cols-2 grid-cols-1 xl:gap-x-[30px] gap-y-2.5 xl:max-w-[500px] max-w-[225px]"
        >
          <load
            src="src/components/InstallmentLoan/Card.html"
            title="Без справок
          и поручителей"
          />
          <load
            src="src/components/InstallmentLoan/Card.html"
            title="Заключение договора
          у Вас на дому"
          />
          <load
            src="src/components/InstallmentLoan/Card.html"
            title="Оплата через ЕРИП без посещения офиса"
          />
          <load
            src="src/components/InstallmentLoan/Card.html"
            title="Принимаем к оплате
          карты рассрочек"
          />
        </div>
      </div>

      <div class="xl:space-y-5 space-y-4">
        <h4 class="font-semibold">Кредит на 24 месяца</h4>

        <button
          class="bg-secondary hover:opacity-75 xl:text-lg text-base font-semibold xl:leading-[23.4px] leading-[20.8px] xl:max-w-[340px] max-w-[225px] w-full xl:h-[60px] h-10 text-white"
        >
          Узнать подробнее
        </button>
      </div>
    </div>

    <img
      class="xl:block hidden w-[283px] absolute bottom-[28.34px] right-[50px] h-[394.66px] object-cover"
      src="terminal.webp"
      alt="Терминал"
    />
  </div>
</section>
