<div
  data-template="{=$template}"
  data-min-width-window="{=$minWidthWindow}"
  data-max-width-window="{=$maxWidthWindow}"
  data-min-height-window="{=$minHeightWindow}"
  data-max-height-window="{=$maxHeightWindow}"
  data-min-width-door="{=$minWidthDoor}"
  data-max-width-door="{=$maxWidthDoor}"
  data-min-height-door="{=$minHeightDoor}"
  data-max-height-door="{=$maxHeightDoor}"
  data-title="{=$title}"
  data-name="{=$name}"
  data-img="{=$img}"
  data-min-width-front="{=$minWidthFront}"
  data-max-width-front="{=$maxWidthFront}"
  data-min-Width-back="{=$minwidthBack}"
  data-max-width-back="{=$maxwidthBack}"
  class="flex group configureCard flex-col items-center gap-5 w-full relative"
>
  <div
    class="relative configureImg w-full h-[165px] rounded-lg bg-white opacity-60 group-hover:opacity-100 outline outline-1 group-hover:outline-primary outline-transparent transition-all duration-500 pt-1.5 flex justify-center items-center"
  >
    <img class="max-h-[159px] w-full object-contain" src="{=$img}" alt="Окно" />

    <div
      class="rounded-full absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 flex min-w-20 h-[25px] justify-center gap-2.5 items-center bg-[#FBFBFB]"
    >
      <button
        class="font-medium text-xl configureDecremnt leading-[24.38px] p-1 -m-1"
        type="button"
      >
        -
      </button>

      <input
        disabled
        name="{=$name}"
        class="font-medium text-lg leading-[21.94px] text-center w-[26px] flex-shrink-0 placeholder:text-[#333333] text-secondary configureInputValue"
        placeholder="0"
        type="text"
      />

      <button
        class="font-medium text-xl configureIncrement leading-[24.38px] p-1 -m-1"
        type="button"
      >
        +
      </button>
    </div>
  </div>

  <span class="font-medium text-xl leading-[24.38px] text-center"
    >{=$title}</span
  >
</div>
