<div
  id="selectConfigure"
  class="grid h-[445px] grid-cols-3 gap-x-[42px] gap-y-6"
>
  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow1.webp"
    title="Одностворчатое окно"
    name="singleWindow"
    template="template1"
    minWidthWindow="1000"
    maxWidthWindow="1900"
    minHeightWindow="1000"
    maxHeightWindow="1900"
    minWidthDoor=""
    maxWidthDoor=""
    minHeightDoor=""
    maxHeightDoor=""
    minWidthFront=""
    maxWidthFront=""
    minwidthBack=""
    maxwidthBack=""
  />

  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow2.webp"
    title="Двухстворчатое окно"
    name="doubleWindow"
    template="template1"
    minWidthWindow="1000"
    maxWidthWindow="1900"
    minHeightWindow="1000"
    maxHeightWindow="1900"
    minWidthDoor=""
    maxWidthDoor=""
    minHeightDoor=""
    maxHeightDoor=""
    minWidthFront=""
    maxWidthFront=""
    minwidthBack=""
    maxwidthBack=""
  />

  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow3.webp"
    title="Трехстворчатое окно"
    name="tripleWindow"
    template="template1"
    minWidthWindow="1700"
    maxWidthWindow="2400"
    minHeightWindow="1000"
    maxHeightWindow="1900"
    minWidthDoor=""
    maxWidthDoor=""
    minHeightDoor=""
    maxHeightDoor=""
    minWidthFront=""
    maxWidthFront=""
    minwidthBack=""
    maxwidthBack=""
  />

  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow4.webp"
    title="Балконный блок"
    name="balconyUnit"
    template="template2"
    minWidthWindow="1000"
    maxWidthWindow="1900"
    minHeightWindow="1000"
    maxHeightWindow="1900"
    minWidthDoor="1000"
    maxWidthDoor="1900"
    minHeightDoor="1000"
    maxHeightDoor="1900"
    minWidthFront=""
    maxWidthFront=""
    minwidthBack=""
    maxwidthBack=""
  />

  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow5.webp"
    title="Т-образное"
    name="Tshaped"
    template="template1"
    minWidthWindow="1000"
    maxWidthWindow="1900"
    minHeightWindow="1000"
    maxHeightWindow="1900"
    minWidthDoor=""
    maxWidthDoor=""
    minHeightDoor=""
    maxHeightDoor=""
    minWidthFront=""
    maxWidthFront=""
    minwidthBack=""
    maxwidthBack=""
  />

  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow6.webp"
    title="Т-образное большое"
    name="largeTshaped"
    template="template1"
    minWidthWindow="1000"
    maxWidthWindow="1900"
    minHeightWindow="1000"
    maxHeightWindow="1900"
    minWidthDoor=""
    maxWidthDoor=""
    minHeightDoor=""
    maxHeightDoor=""
    minWidthFront=""
    maxWidthFront=""
    minwidthBack=""
    maxwidthBack=""
  />
</div>
