<div
  id="selectConfigure"
  class="grid xl:h-[445px] xl:grid-cols-3 items-start grid-cols-2 xl:gap-x-[42px] gap-x-2.5 xl:gap-y-6 gap-y-2.5"
>
  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow12.webp"
    title="Roto patio наклонно-<br/>сдвижные системы"
    name="rotoPatioTiltSlideSystems"
    template="template1"
    minWidthWindow="1000"
    maxWidthWindow="2200"
    minHeightWindow="1000"
    maxHeightWindow="2200"
    minWidthDoor=""
    maxWidthDoor=""
    minHeightDoor=""
    maxHeightDoor=""
    minWidthFront=""
    maxWidthFront=""
    minwidthBack=""
    maxwidthBack=""
  />

  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow13.webp"
    title="Дверь"
    name="door"
    template="template1"
    minWidthWindow="500"
    maxWidthWindow="1000"
    minHeightWindow="1000"
    maxHeightWindow="2200"
    minWidthDoor=""
    maxWidthDoor=""
    minHeightDoor=""
    maxHeightDoor=""
    minWidthFront=""
    maxWidthFront=""
    minwidthBack=""
    maxwidthBack=""
  />

  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow14.webp"
    title="Дверь штульповая"
    name="casementDoor"
    template="template1"
    minWidthWindow="1000"
    maxWidthWindow="2200"
    minHeightWindow="1000"
    maxHeightWindow="2200"
    minWidthDoor=""
    maxWidthDoor=""
    minHeightDoor=""
    maxHeightDoor=""
    minWidthFront=""
    maxWidthFront=""
    minwidthBack=""
    maxwidthBack=""
  />
</div>
