<div
  id="selectConfigure"
  class="grid xl:h-[445px] xl:grid-cols-3 grid-cols-2 xl:gap-x-[42px] gap-x-2.5 xl:gap-y-6 gap-y-2.5"
>
  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow7.webp"
    title="Прямая лоджия"
    name="straightBalcony"
    template="template1"
    minWidthWindow="1700"
    maxWidthWindow="2400"
    minHeightWindow="1000"
    maxHeightWindow="1900"
    minWidthDoor=""
    maxWidthDoor=""
    minHeightDoor=""
    maxHeightDoor=""
    minWidthFront=""
    maxWidthFront=""
    minwidthBack=""
    maxwidthBack=""
  />

  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow8.webp"
    title="Многостворчатое окно"
    name="multiPaneWindow"
    template="template1"
    minWidthWindow="2400"
    maxWidthWindow="4800"
    minHeightWindow="1000"
    maxHeightWindow="1900"
    minWidthDoor=""
    maxWidthDoor=""
    minHeightDoor=""
    maxHeightDoor=""
    minWidthFront=""
    maxWidthFront=""
    minwidthBack=""
    maxwidthBack=""
  />

  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow9.webp"
    title="Г-образный балкон"
    name="GShapedBalcony"
    template="template3"
    minWidthWindow=""
    maxWidthWindow=""
    minHeightWindow="1000"
    maxHeightWindow="1900"
    minWidthDoor=""
    maxWidthDoor=""
    minHeightDoor=""
    maxHeightDoor=""
    minWidthFront="1000"
    maxWidthFront="1900"
    minwidthBack="1000"
    maxwidthBack="1900"
  />

  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow10.webp"
    title="П-образный балкон"
    name="PShapedBalcony"
    template="template3"
    minWidthWindow=""
    maxWidthWindow=""
    minHeightWindow="1000"
    maxHeightWindow="1900"
    minWidthDoor=""
    maxWidthDoor=""
    minHeightDoor=""
    maxHeightDoor=""
    minWidthFront="1000"
    maxWidthFront="1900"
    minwidthBack="1000"
    maxwidthBack="1900"
  />

  <load
    src="src/components/Quiz/components/Configure/Card.html"
    img="configurationWindow11.webp"
    title="Балконный блок"
    name="balconyUnit"
    template="template2"
    minWidthWindow="1000"
    maxWidthWindow="1900"
    minHeightWindow="1000"
    maxHeightWindow="1900"
    minWidthDoor="1000"
    maxWidthDoor="1900"
    minHeightDoor="1000"
    maxHeightDoor="1900"
    minWidthFront=""
    maxWidthFront=""
    minwidthBack=""
    maxwidthBack=""
  />
</div>
