<div id="selectVariant" class="xl:h-[445px] xl:space-y-10 space-y-5">
  <div class="space-y-5">
    <p class="xl:text-xl text-base font-bold xl:leading-[24.38px] leading-[19.5px]">Тип остекления:</p>

    <div class="grid xl:grid-cols-4 grid-cols-1 xl:gap-10 gap-3.5">
      <load
        src="src/components/Quiz/components/Variant/Card.html"
        name="glazingType"
        title="Стандартное"
      />

      <load
        src="src/components/Quiz/components/Variant/Card.html"
        name="glazingType"
        title="Теплое"
      />

      <load
        src="src/components/Quiz/components/Variant/Card.html"
        name="glazingType"
        title="Не знаю"
      />
    </div>
  </div>

  <div class="space-y-5">
    <p class="xl:text-xl text-base font-bold xl:leading-[24.38px] leading-[19.5px]">Материал:</p>

    <div class="grid xl:grid-cols-4 grid-cols-1 xl:gap-10 gap-3.5">
      <load
        src="src/components/Quiz/components/Variant/Card.html"
        name="material"
        title="Из ПВХ"
      />

      <load
        src="src/components/Quiz/components/Variant/Card.html"
        name="material"
        title="Из алюминия"
      />

      <load
        src="src/components/Quiz/components/Variant/Card.html"
        name="material"
        title="Не знаю"
      />
    </div>
  </div>

  <div class="space-y-5">
    <p class="xl:text-xl text-base font-bold xl:leading-[24.38px] leading-[19.5px]">Отделка:</p>

    <div class="grid xl:grid-cols-4 grid-cols-1 xl:gap-10 gap-3.5">
      <load
        src="src/components/Quiz/components/Variant/Card.html"
        name="lamination"
        title="Односторонняя"
      />

      <load
        src="src/components/Quiz/components/Variant/Card.html"
        name="lamination"
        title="Двусторонняя"
      />

      <load
        src="src/components/Quiz/components/Variant/Card.html"
        name="lamination"
        title="Без ламинации"
      />

      <load
        src="src/components/Quiz/components/Variant/Card.html"
        name="lamination"
        title="Не знаю"
      />
    </div>
  </div>
</div>
