<form class="xl:max-w-[386px] w-full xl:space-y-[15px] space-y-5 defaultForm">
  <div class="xl:contents block space-y-2.5">
    <input
      class="w-full xl:h-[60px] h-10 rounded-[3.7px] px-5 xl:py-5 py-[11px] bg-white placeholder:text-[#7C7C7C] xl:text-base text-sm xl:leading-[20.8px] leading-[18.2px] phone-input"
      placeholder="Телефон"
      type="tel"
      name="tel"
    />

    <button
      type="submit"
      class="bg-secondary hover:opacity-75 text-center xl:text-lg text-base xl:leading-[23.4px] leading-[20.8px] font-semibold text-white xl:w-[325px] w-full xl:h-[60px] h-10"
    >
      Оставить заявку
    </button>
  </div>

  <p class="xl:text-nowrap text-sm leading-[18.2px] text-[#868686]">
    Нажимая на кнопку "Оставить заявку", я даю
    <a href="" class="underline">согласие на обработку персональных данных</a>
  </p>
</form>
