<form class="max-w-[386px] w-full space-y-[15px]">
  <input
    class="w-full h-[60px] rounded-[3.7px] p-5 bg-white placeholder:text-[#7C7C7C] text-base leading-[20.8px]"
    placeholder="Телефон"
    type="text"
  />

  <button
    type="submit"
    class="bg-secondary hover:opacity-75 text-center text-lg leading-[23.4px] font-semibold text-white w-[325px] h-[60px]"
  >
    Оставить заявку
  </button>

  <p class="text-nowrap text-sm leading-[18.2px] text-[#868686]">
    Нажимая на кнопку "Оставить заявку", я даю
    <a href="" class="underline">согласие на обработку персональных данных</a>
  </p>
</form>
