<section
  class="rounded-lg linear-gradient-gray shadow-main px-[50px] py-[60px] mx-auto container-main relative"
>
  <div class="w-[686px] space-y-10">
    <div class="space-y-5">
      <p class="font-semibold text-[40px] leading-[52px]">Остались вопросы?</p>

      <p class="text-[26px] leading-[33.8px] font-light">
        Оставьте заявку и наш менеджер свяжется с Вами в течение 15 мин и
        проконсультирует Вас
      </p>
    </div>

    <div class="flex justify-between">
      <load src="src/components/QuestForm/Form.html" />
      <load src="src/components/QuestForm/Social.html" />
    </div>
  </div>

  <img
    src="questFormWindow.webp"
    alt="Окно"
    class="-bottom-[71px] -right-[105px] absolute"
  />
</section>
