<div
  class="linear-gradient-gray xl:pl-[30px] xl:px-0 px-2.5 xl:pb-0 pb-5 xl:pt-0 pt-[30px] shadow-main xl:h-[490px] h-[441px] rounded-lg flex justify-center items-center relative"
>
  <div class="w-full">
    <div class="flex justify-between w-full items-center xl:pr-[20.8px]">
      <p
        class="xl:text-[22px] text-xl uppercase xl:leading-[28.6px] leading-[26px] font-semibold"
      >
        {=$name}
      </p>

      <div
        class="xl:border-[5px] border-[3px] border-white xl:rotate-[-6.43deg] rotate-[-6deg] rounded-[5px] p-[1px]"
      >
        <div
          class="xl:w-[101px] w-[68.72px] xl:h-[61px] h-[41.5px] rounded-[5px] bg-[#1D9ADD] flex justify-center items-center flex-col xl:gap-[1px] gap-[0.74px] text-white text-center"
        >
          <p
            class="xl:leading-[33.8px] leading-[23.4px] xl:text-[26px] text-lg font-extrabold"
          >
            {=$guarant} лет
          </p>

          <p
            class="xl:text-base text-[11px] xl:leading-[20.8px] leading-[14.3px] font-semibold"
          >
            гарантии
          </p>
        </div>
      </div>
    </div>

    <div
      class="xl:mt-[8.38px] mt-2.5 xl:mb-[50px] mb-[46px] xl:space-y-[27px] space-y-5 xl:relative"
    >
      <div class="xl:space-y-2.5 space-y-1">
        <p class="flex items-center gap-1.5 text-base leading-[20.8px]">
          Ширина профиля: <span class="font-semibold">{=$width} мм</span>
        </p>

        <p class="flex items-center gap-1.5 text-base leading-[20.8px]">
          Количество камер: <span class="font-semibold">{=$countCamera}</span>
        </p>

        <div class="flex items-center gap-1.5 text-base leading-[20.8px]">
          фурнитура:
          <img
            class="xl:w-[90px] w-[75px] xl:h-6 h-5"
            src="{=$logo}"
            alt="Логотип гарантии"
          />
          <span class="font-semibold">{=$country}</span>
        </div>

        <p class="flex items-center gap-1.5 text-base leading-[20.8px]">
          Толщина стеклопакета: <span class="font-semibold">{=$weight} мм</span>
        </p>
      </div>

      <div class="xl:space-y-4 space-y-2.5">
        <div class="xl:space-y-2 space-y-1">
          <p class="text-base font-semibold leading-[20.8px]">Теплоизоляция:</p>

          <div
            class="bg-[#D9D9D9] h-2.5 xl:w-[200px] xl:max-w-full max-w-[280px] rounded-[10px]"
          >
            <div
              style="width: {=$thermal}px;"
              class="h-full linear-gradient-green rounded-[10px]"
            >
              &nbsp;
            </div>
          </div>
        </div>

        <div class="xl:space-y-2 space-y-1">
          <p class="text-base font-semibold leading-[20.8px]">Шумоизоляция:</p>

          <div
            class="bg-[#D9D9D9] h-2.5 xl:w-[200px] xl:max-w-full max-w-[280px] rounded-[10px]"
          >
            <div
              style="width: {=$insulation}px;"
              class="h-full linear-gradient-green rounded-[10px]"
            >
              &nbsp;
            </div>
          </div>
        </div>
      </div>

      <img
        src="{=$img}"
        alt="Профиль фурнитуры"
        class="absolute xl:right-[5px] right-6 xl:-bottom-[26px] bottom-[25px] xl:w-[150px] w-[92px] xl:h-[240px] h-[143px] object-cover"
      />
    </div>

    <div
      class="flex xl:w-auto w-[150px] xl:justify-between xl:items-center xl:flex-row flex-col xl:gap-0 gap-3.5 xl:pr-5"
    >
      <div>
        <p class="xl:text-base text-sm xl:leading-[20.8px] leading-[18.2px]">
          Стоимость за м2
        </p>
        <p
          class="flex xl:gap-2 gap-1 items-end leading-[20.8px] text-base font-semibold text-primary"
        >
          от
          <span
            class="xl:leading-[39px] leading-[31.2px] xl:text-[30px] text-2xl relative top-1"
            >{=$price} Br</span
          >
        </p>
      </div>

      <button
        class="xl:leading-[23.4px] leading-[20.8px] font-semibold hover:opacity-75 xl:text-lg text-base text-white xl:w-[201px] w-full xl:h-[60px] h-10 bg-secondary"
      >
        Заказать
      </button>
    </div>
  </div>
</div>
