<section class="mx-auto container-main xl:space-y-[50px] space-y-[30px]">
  <div class="xl:space-y-[60px] space-y-5">
    <h2 class="text-center">
      Даем расширенную гарантию на профили и фурнитуру<br /><span
        >от проверенных временем производителей</span
      >
    </h2>

    <div
      class="flex xl:gap-10 gap-x-5 gap-y-2.5 mx-auto xl:justify-start justify-center xl:w-fit w-full xl:flex-nowrap flex-wrap"
    >
      <img
        class="xl:h-[53px] h-9 flex-shrink-0 xl:min-w-[121px] min-w-[82px] object-cover"
        src="guarantColab1.webp"
        alt="Компания гарантии"
      />
      <img
        class="xl:h-[53px] h-9 flex-shrink-0 xl:min-w-[121px] min-w-[82px] object-cover"
        src="guarantColab2.webp"
        alt="Компания гарантии"
      />
      <img
        class="xl:h-[53px] h-9 flex-shrink-0 xl:min-w-[121px] min-w-[82px] object-cover"
        src="guarantColab3.webp"
        alt="Компания гарантии"
      />
      <img
        class="xl:h-[53px] h-9 flex-shrink-0 xl:min-w-[121px] min-w-[82px] object-cover"
        src="guarantColab4.webp"
        alt="Компания гарантии"
      />
    </div>
  </div>

  <div class="xl:gap-[63px] gap-5 grid xl:grid-cols-3 grid-cols-1">
    <load
      src="src/components/Guarant/Card.html"
      name="Стандарт"
      guarant="5"
      width="60"
      countCamera="3"
      country="Россия"
      weight="24"
      thermal="130"
      insulation="140"
      logo="guarantLogo1.webp"
      img="guarantPrice1.webp"
      price="180"
    />

    <load
      src="src/components/Guarant/Card.html"
      name="Комфорт"
      guarant="7"
      width="70"
      countCamera="5"
      country="Германия"
      weight="32"
      thermal="170"
      insulation="150"
      logo="guarantLogo2.webp"
      img="guarantPrice2.webp"
      price="270"
    />

    <load
      src="src/components/Guarant/Card.html"
      name="Премиум"
      guarant="10"
      width="70"
      countCamera="6"
      country="Германия"
      weight="40"
      thermal="180"
      insulation="190"
      logo="guarantLogo2.webp"
      img="guarantPrice3.webp"
      price="320"
    />
  </div>
</section>
