<main
  class="xl:bg-[url('bgMain.webp')] bg-[url('bgMainMobile.webp')] bg-no-repeat bg-cover xl:h-[996px] h-[1300px] flex xl:items-end xl:pb-[114px] pb-[50px] xl:pt-0 pt-[130px]"
>
  <div class="container-main mx-auto">
    <div
      class="xl:max-w-[696px] h-full flex flex-col xl:gap-[50px] justify-between"
    >
      <div class="xl:space-y-[30px] space-y-5 xl:text-white text-[#1B1B1B]">
        <h1
          class="xl:leading-[71.5px] leading-[39px] xl:text-[55px] text-[30px] font-bold"
        >
          Установка окон ПВХ<br />
          в Могилеве и области
        </h1>

        <p class="xl:text-[22px] text-lg xl:leading-[28.6px] leading-[23.4px]">
          по цене производителя,<br />с расширенной гарантией
          <span class="font-semibold">до 10 лет</span>,<br />и сроками
          изготовления <span class="font-semibold">от 5 до 14 дней</span>
        </p>
      </div>

      <div class="xl:contents block space-y-5">
        <div class="grid xl:grid-cols-4 grid-cols-2 xl:gap-4 gap-2.5">
          <load
            src="src/components/Main/Card.html"
            img="roulette.webp"
            text="Бесплатный
              замер"
          />
          <load
            src="src/components/Main/Card.html"
            img="moneyBox.webp"
            text="Рассрочка
              от компании
              до 6-ти месяцев"
          />
          <load
            src="src/components/Main/Card.html"
            img="ladder.webp"
            text="Бесплатная
              доставка по городу"
          />
          <load
            src="src/components/Main/Card.html"
            img="windowLogo.webp"
            text="Производитель
              ПВХ окон"
          />
        </div>

        <div
          class="xl:h-20 h-[94px] bg-white rounded-[5px] flex xl:flex-row flex-col xl:gap-[30px] gap-4 items-center relative"
        >
          <button
            type="button"
            class="bg-secondary hover:opacity-75 shadow-button-main text-white xl:text-xl text-base xl:leading-[26px] leading-[20.8px] text-center font-semibold xl:w-[386px] w-full xl:h-full h-[50px] orderButton"
            data-title="Рассчитать стоимость окна"
          >
            Рассчитать стоимость
          </button>

          <p
            class="text-center xl:text-lg text-xs font-semibold xl:leading-[23.4px] leading-[15.6px] xl:w-[210px] w-full"
          >
            Подарок к каждому заказу
          </p>

          <img
            src="gift.webp"
            alt="Подарок"
            class="xl:w-[112px] w-[55px] xl:h-[115px] h-[57px] absolute xl:-right-[50px] right-0 xl:bottom-auto -bottom-[7px]"
          />
        </div>
      </div>
    </div>
  </div>
</main>
