<section id="quiz" class="container-main mx-auto space-y-[65px]">
  <div class="text-center space-y-[30px]">
    <h4 class="font-semibold">Не нашли ваших размеров?</h4>

    <p class="font-light text-[26px] leading-[33.8px]">
      Рассчитайте стоимость ваших окон, ответив на 5 вопросов
    </p>
  </div>

  <div class="gap-[25px] flex h-[726px]">
    <div id="sliderQuiz" class="overflow-hidden w-full">
      <div class="swiper-wrapper w-full">
        <load src="src/components/Quiz/Slides/First.html" />
        <load src="src/components/Quiz/Slides/Second.1.html" />
        <load src="src/components/Quiz/Slides/Second.2.html" />
        <load src="src/components/Quiz/Slides/Second.3.html" />
        <load src="src/components/Quiz/Slides/Third.html" />
      </div>
    </div>
    <load src="src/components/Quiz/Result/Result.html" />
  </div>
</section>
