<div class="grid xl:grid-cols-4 grid-cols-2 xl:gap-5 gap-2.5">
  <button
    data-gallery="WindowsTurnkey"
    type="button"
    class="select-gallerys-button active"
  >
    Окна “под ключ”
  </button>

  <button
    data-gallery="BalconyFrames"
    type="button"
    class="select-gallerys-button"
  >
    Балконные рамы
  </button>

  <button
    data-gallery="HouseWindows"
    type="button"
    class="select-gallerys-button"
  >
    Окна в частный дом
  </button>

  <button
    data-gallery="VerandasGazebos"
    type="button"
    class="select-gallerys-button"
  >
    Веранды/беседки
  </button>
</div>
