<div class="shadow-main bg-[#F8F8F8] rounded-lg xl:pt-0 xl:pb-6 pb-5">
  <div class="xl:h-[410px] xl:pb-3 flex flex-col items-center justify-end">
    <div
      class="flex flex-col items-center justify-evenly h-full pt-2.5 rounded-lg xl:gap-[9px] gap-5 bg-white w-full"
    >
      <div class="h-[330px] flex justify-center items-center">
        <img class="xl:max-h-[330px] max-h-[188px]" src="{=$img}" alt="Окно" />
      </div>

      <p
        class="text-[#868686] text-base leading-[20.8px] font-medium xl:pb-0 pb-2.5"
      >
        {=$dimensions}
      </p>
    </div>
  </div>

  <div class="space-y-2.5 xl:px-3 px-2.5 xl:pt-4 pt-2.5">
    <div class="xl:space-y-0.5 space-y-2.5">
      <p class="xl:text-[22px] text-xl xl:h-[58px] font-semibold xl:leading-[28.6px] leading-[26px] uppercase xl:text-left text-center">
        {=$title}
      </p>

      <div class="flex xl:flex-row flex-col items-center xl:gap-[15px] gap-2.5">
        <p
          class="xl:text-[30px] text-2xl xl:leading-[39px] leading-[31.2px] text-primary flex xl:gap-2 gap-1 items-end flex-shrink-0 font-semibold"
        >
          <span class="text-base leading-[20.8px] relative bottom-1">от</span>

          {=$price} Br
        </p>

        <p class="xl:text-xs text-sm xl:leading-[15.6px] leading-[18.2px] text-[#868686]">
          Стоимость схожего изделия без учёта монтажа, подоконника, отлива и
          отделки откосов
        </p>
      </div>
    </div>

    <button
      class="xl:text-lg text-base font-semibold xl:leading-[23.4px] leading-[20.8px] text-white bg-secondary xl:mx-0 mx-auto w-full xl:max-w-full max-w-[194px] xl:h-[60px] h-10 shadow-button-price-standart hover:opacity-75"
      type="button"
    >
      Заказать окно
    </button>
  </div>
</div>
