<section class="container-main mx-auto space-y-[60px]">
  <h2 class="font-semibold text-center">Цены на стандартные окна</h2>

  <div class="grid grid-cols-4 gap-6">
    <load
      src="src/components/PriceStandart/Card.html"
      img="window1.webp"
      dimensions="Размер: 700 х 1200 мм"
      title="Окно ПВХ одностворчатое"
      price="253"
    />

    <load
      src="src/components/PriceStandart/Card.html"
      img="window2.webp"
      dimensions="Размер: 1140 х 1410 мм"
      title="Окно ПВХ Двухстворчатое"
      price="352"
    />

    <load
      src="src/components/PriceStandart/Card.html"
      img="window3.webp"
      dimensions="Размер: 1980 х 1410 мм"
      title="Окно ПВХ Трехстворчатое"
      price="481"
    />

    <load
      src="src/components/PriceStandart/Card.html"
      img="window4.webp"
      dimensions="Размер: окно 1300 х 1300 мм<br/>дверь 750 х 2150 мм"
      title="Балконный блок"
      price="522"
    />
  </div>
</section>
