<div
  class="bg-white xl:h-[35px] h-[30px] w-full rounded-lg xl:px-1.5 px-[5px] py-[5px] relative {=$class}"
>
  <div style="width: {=$width}%;" class="bg-primary rounded-lg w-1/6">
    <svg
      class="animate-pulse transition-all duration-1000"
      width="908"
      height="25"
      viewBox="0 0 908 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <mask
        id="mask0_1609_1454"
        style="mask-type: alpha"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="908"
        height="25"
      >
        <rect width="908" height="25" rx="7" fill="#2F2F2F" />
      </mask>
      <g mask="url(#mask0_1609_1454)">
        <path
          opacity="0.22"
          d="M445.178 25H435L445.178 0H455.355L445.178 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M466.784 25H456.785L466.784 0H476.962L466.784 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M488.566 25H478.389L488.566 0H498.744L488.566 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M510.35 25H500.172L510.35 0H520.527L510.35 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M531.956 25H521.957L531.956 0H542.134L531.956 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M553.74 25H543.562L553.74 0H563.918L553.74 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M575.525 25H565.348L575.525 0H585.703L575.525 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M597.128 25H587.129L597.128 0H607.306L597.128 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M618.912 25H608.734L618.912 0H629.09L618.912 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M640.697 25H630.52L640.697 0H650.875L640.697 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M662.304 25H652.305L662.304 0H672.482L662.304 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M684.088 25H673.91L684.088 0H694.266L684.088 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M705.869 25H695.691L705.869 0H716.047L705.869 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M727.476 25H717.477L727.476 0H737.653L727.476 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M749.26 25H739.082L749.26 0H759.438L749.26 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M771.045 25H760.867L771.045 0H781.223L771.045 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M792.65 25H782.65L792.65 0H802.827L792.65 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M814.434 25H804.256L814.434 0H824.611L814.434 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M836.217 25H826.039L836.217 0H846.395L836.217 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M879.178 25H869L879.178 0H889.355L879.178 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M857.823 25H847.824L857.823 0H868.001L857.823 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M900.784 25H890.785L900.784 0H910.962L900.784 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M11.1777 25H1L11.1777 0H21.3555L11.1777 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M32.7843 25H22.7852L32.7843 0H42.9621L32.7843 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M54.5664 25H44.3887L54.5664 0H64.7441L54.5664 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M76.3496 25H66.1719L76.3496 0H86.5273L76.3496 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M97.9562 25H87.957L97.9562 0H108.134L97.9562 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M119.74 25H109.562L119.74 0H129.918L119.74 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M141.525 25H131.348L141.525 0H151.703L141.525 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M163.128 25H153.129L163.128 0H173.306L163.128 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M184.912 25H174.734L184.912 0H195.09L184.912 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M206.697 25H196.52L206.697 0H216.875L206.697 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M228.302 25H218.303L228.302 0H238.48L228.302 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M250.088 25H239.91L250.088 0H260.266L250.088 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M271.869 25H261.691L271.869 0H282.047L271.869 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M293.476 25H283.477L293.476 0H303.653L293.476 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M315.26 25H305.082L315.26 0H325.438L315.26 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M337.045 25H326.867L337.045 0H347.223L337.045 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M358.65 25H348.65L358.65 0H368.827L358.65 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M380.434 25H370.256L380.434 0H390.611L380.434 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M402.217 25H392.039L402.217 0H412.395L402.217 25Z"
          fill="white"
        />
        <path
          opacity="0.22"
          d="M423.821 25H413.822L423.821 0H433.999L423.821 25Z"
          fill="white"
        />
      </g>
    </svg>
  </div>

  <p
    class="inline absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 w-fit text-sm text-center leading-[18.2px] font-medium"
  >
    <span>{=$step}</span>
  </p>
  &nbsp;
</div>
