<div
  class="w-full bg-[#F8F8F8] xl:rounded-2xl rounded-lg h-full flex-col !flex justify-center items-center xl:gap-[21px] gap-5 xl:px-[50px] xl:py-0 px-2.5 py-2.5 swiper-slide"
>
  <div class="xl:space-y-[30px] space-y-2.5 w-full">
    <load src="src/components/Quiz/components/Loader.html" step="Шаг 1 из 5" />
    <load
      src="src/components/Quiz/components/Title.html"
      questNumber="1"
      quest="Укажите, куда будем ставить окна?"
    />
    <load src="src/components/Quiz/components/House/Layout.html" />
  </div>

  <div class="flex xl:flex-row flex-col xl:gap-0 gap-5 xl:justify-between items-center w-full">
    <p class="text-[#4C4C4C] leading-[18.2px] text-sm font-light">
      <span class="font-medium">Выберите вариант ответа</span> и нажмите кнопку
      “Далее”
    </p>

    <button
      id="nextHouse"
      type="button"
      class="w-[216px] xl:h-[60px] h-10 bg-secondary text-white leading-[23.4px] xl:text-lg text-base font-semibold hover:opacity-75"
    >
      Далее
    </button>
  </div>
</div>
