<div
  class="w-full bg-[#F8F8F8] xl:rounded-2xl rounded-lg h-full relative flex-col !flex xl:gap-[21px] xl:px-[50px] px-2.5 swiper-slide xl:py-10 py-2.5 xl:pb-10 pb-5"
>
  <div class="xl:space-y-[30px] space-y-5 w-full">
    <load
      src="src/components/Quiz/components/Loader.html"
      step="Готово"
      width="100"
      class="text-white"
    />

    <div class="space-y-5 xl:w-[586px] w-full">
      <div class="xl:space-y-5 space-y-2.5">
        <p class="xl:text-[30px] text-sm font-semibold xl:leading-[39px] leading-[18.2px]">
          Спасибо за Ваши ответы!
        </p>

        <p class="xl:text-xl text-sm font-light xl:leading-[24.38px] leading-[17.07px] text-calculation">
          Наш специалист уже приступил к расчету и скоро свяжется с Вами
        </p>
      </div>
    </div>
  </div>
</div>
