<section>
  <div class="xl:space-y-[30px] space-y-3 mx-auto xl:p-2.5 xl:px-2.5 px-[22px]">
    <h3
      class="xl:text-[46px] text-[22px] font-semibold text-center xl:leading-[59.8px] leading-[28.6px]"
    >
      Ламинированные окна
    </h3>

    <p
      class="text-center xl:text-[26px] text-lg font-light xl:leading-[33.8px] leading-[23.4px]"
    >
      В сочетании с цветными ручками Roto придают изысканность оконной
      конструкции
    </p>
  </div>

  <div
    class="xl:h-[510px] h-[238px] xl:bg-[url('bgLamination.webp')] bg-[url('bgLaminationMobile.webp')] bg-cover bg-no-repeat xl:mt-[60px] mt-[30px] xl:mb-[30px] mb-5"
  >
    <div class="xl:container-main mx-auto flex items-center">
      <div class="relative xl:-left-[87px] -left-[70px]">
        <div class="relative">
          <div
            id="changeBackImg"
            class="bg-[#fa4378] absolute min-h-full w-[350px] xl:left-[145px] -left-[193px]"
          >
            &nbsp;
          </div>
          <img
            class="min-h-full xl:h-auto h-[238px] object-cover relative z-[1]"
            src="laminationTemplate.webp"
            alt="Ламинация"
          />
        </div>

        <img
          src="http://localhost:5173/knob8.webp"
          alt="Ручка"
          class="absolute top-0 translate-x-full xl:w-[126.39px] w-[58.98px] xl:h-[312.39px] h-[145.78px] xl:left-8 left-[27px] changeKnob transition-all duration-500 transform -scale-x-100"
        />

        <img
          src="http://localhost:5173/knob8.webp"
          alt="Ручка 2"
          class="absolute top-0 translate-x-full xl:block hidden xl:w-[126.39px] w-[58.98px] xl:h-[312.39px] h-[145.78px] left-52 changeKnob transition-all duration-500 transform -scale-x-100"
        />
      </div>

      <div
        class="xl:space-y-10 space-y-5 relative xl:-left-[198.52px] xl:right-auto xl:max-w-full max-w-[410px] right-20 z-[1]"
      >
        <p
          class="xl:block hidden xl:max-w-[566px] xl:leading-[33.8px] leading-[23.4px] xl:text-[26px] text-lg font-semibold text-white"
        >
          Проявите свою индивидуальность, выбрав подходящее цветовое решение
        </p>

        <div class="relative">
          <form id="formLamination" class="space-y-3 xl:max-w-[414px] w-full">
            <input
              class="xl:h-[60px] h-10 bg-white xl:text-base text-sm xl:leading-[20.8px] leading-normal rounded-[5px] w-full phone-input px-5 xl:py-5 py-[11px] placeholder:text-[#7C7C7C]"
              placeholder="Телефон"
              type="tel"
              name="tel"
            />

            <button
              class="xl:h-[60px] h-10 w-full bg-secondary rounded-[5px] text-white xl:text-lg text-base font-semibold hover:opacity-75"
            >
              Рассчитать
              <span class="xl:inline hidden">стоимость этого окна</span>
            </button>

            <a
              class="underline xl:hidden block text-xs xl:text-[#333333] text-white"
              href=""
              >согласие на обработку персональных данных</a
            >

            <p
              class="xl:block hidden xl:text-sm text-xs xl:leading-[18.2px] leading-normal xl:text-nowrap"
            >
              Нажимая на кнопку "Оставить заявку", я даю
              <a class="underline" href=""
                >согласие на обработку персональных данных</a
              >
            </p>
          </form>

          <div class="xl:block hidden absolute top-0 -right-[186px]">
            <load src="src/components/QuestForm/Social.html" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container-main mx-auto grid xl:grid-cols-2 xl:gap-4 items-start gap-2.5"
  >
    <div
      class="shadow-main bg-[#F8F8F8] rounded-lg xl:px-5 px-2.5 xl:py-[22px] py-2.5 flex xl:flex-row flex-col xl:gap-5 gap-2.5"
    >
      <div
        class="flex xl:flex-col flex-row xl:items-start items-center xl:gap-[27px] gap-0 xl:justify-start justify-between"
      >
        <p
          class="xl:leading-[33.8px] leading-[23.4px] xl:text-[26px] text-lg font-semibold"
        >
          Ламинация
        </p>

        <img
          class="xl:w-[141px] w-[89px] xl:h-[27px] h-[17px]"
          src="lgHausysLogo.webp"
          alt="lgHausysLogo"
        />
      </div>

      <div class="grid grid-cols-4 xl:gap-3.5 gap-4">
        <load
          src="src/components/Lamination/selectBack.html"
          title="Махагон"
          img="color1.webp"
        />
        <load
          src="src/components/Lamination/selectBack.html"
          title="Дуб"
          img="color2.webp"
        />
        <load
          src="src/components/Lamination/selectBack.html"
          title="Темный дуб"
          img="color3.webp"
        />
        <load
          src="src/components/Lamination/selectBack.html"
          title="Орех"
          img="color4.webp"
        />
        <load
          src="src/components/Lamination/selectBack.html"
          title="Светлый дуб"
          img="color5.webp"
        />
        <load
          src="src/components/Lamination/selectBack.html"
          title="Зимний дуглас"
          img="color6.webp"
        />
        <load
          src="src/components/Lamination/selectBack.html"
          title="Береза розовая"
          img="color7.webp"
        />
        <load
          src="src/components/Lamination/selectBack.html"
          title="Орегон"
          img="color8.webp"
        />
        <load
          src="src/components/Lamination/selectBack.html"
          title="Светло-серый"
          img="color9.webp"
        />
        <load
          src="src/components/Lamination/selectBack.html"
          title="Серый агат"
          img="color10.webp"
        />

        <div
          role="button"
          data-color="#fa4378"
          class="flex flex-col items-center gap-1.5 selectBack transition duration-300 group rounded-full active"
        >
          <div
            class="rounded-full group-hover:outline p-[0.5px] colorSelect group-hover:outline-primary group-hover:outline-4 bg-[#fa4378] flex-shrink-0 xl:w-[100px] w-14 xl:h-[100px] h-14"
          >
            &nbsp;
          </div>

          <span
            class="xl:text-base text-xs font-semibold text-center xl:leading-[20.8px] leading-[15.6px]"
            >Розовый</span
          >
        </div>
      </div>
    </div>

    <div
      class="shadow-main h-full xl:items-start bg-[#F8F8F8] rounded-lg xl:px-5 px-2.5 xl:py-[22px] py-2.5 flex xl:flex-row flex-col xl:gap-5 gap-2.5"
    >
      <div
        class="flex xl:flex-col flex-row xl:items-start items-center xl:gap-[27px] gap-0 xl:justify-start justify-between"
      >
        <p
          class="xl:leading-[33.8px] leading-[23.4px] xl:text-[26px] text-lg font-semibold"
        >
          Ручки
        </p>

        <img
          class="xl:w-[81px] w-[51px] xl:h-[34px] h-[21px]"
          src="optionsLogoRoto.webp"
          alt="LogoRoto"
        />
      </div>

      <div class="grid grid-cols-4 items-start xl:gap-3.5 gap-4">
        <load
          src="src/components/Lamination/SelectKnob.html"
          title="Белый"
          img="knob1.webp"
        />
        <load
          src="src/components/Lamination/SelectKnob.html"
          title="Титан"
          img="knob2.webp"
        />
        <load
          src="src/components/Lamination/SelectKnob.html"
          title="Серебро"
          img="knob3.webp"
        />
        <load
          src="src/components/Lamination/SelectKnob.html"
          title="Шампань"
          img="knob4.webp"
        />
        <load
          src="src/components/Lamination/SelectKnob.html"
          title="Коричневый"
          img="knob5.webp"
        />
        <load
          src="src/components/Lamination/SelectKnob.html"
          title="Золото"
          img="knob6.webp"
        />
        <load
          src="src/components/Lamination/SelectKnob.html"
          title="Черный"
          img="knob7.webp"
        />

        <div
          role="button"
          data-color="knob8.webp"
          class="flex flex-col active items-center gap-1.5 selectKnob transition duration-300 group rounded-full"
        >
          <div
            style="
              background-image: url('knob8.webp');
              background-repeat: no-repeat;
              background-position-x: 20px;
              background-position-y: -20px;
              background-size: cover;
            "
            class="xl:w-[100px] w-14 xl:h-[100px] h-14 colorSelect group-hover:outline-primary group-hover:outline-4 flex-shrink-0 rounded-full group-hover:outline"
          >
            &nbsp;
          </div>

          <span
            class="xl:text-base text-xs font-semibold text-center xl:leading-[20.8px] leading-[15.6px]"
            >Темное золота</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
