<section>
  <div class="space-y-[30px] mx-auto p-2.5">
    <h3 class="text-[46px] font-semibold text-center leading-[59.8px]">
      Ламинированные окна
    </h3>

    <p class="text-center text-[26px] font-light leading-[33.8px]">
      В сочетании с цветными ручками Roto придают изысканность оконной
      конструкции
    </p>
  </div>

  <div
    class="h-[510px] bg-[url('bgLamination.webp')] bg-cover bg-no-repeat mt-[60px] mb-[30px]"
  >
    <div class="container-main mx-auto flex items-center">
      <div class="relative -left-[87px]">
        <div
          class="bg-[url('https://pvh-okno.by/assets/image/img/laminator/textures/10.jpg')] w-[300px] bg-center min-h-full"
        ></div>

        <img
          class="min-h-full object-cover"
          src="laminationTemplate.webp"
          alt="Ламинация"
        />

        <img
          src="knob.webp"
          alt="Ручка"
          class="absolute top-0 translate-x-full left-8"
        />

        <img
          src="knob.webp"
          alt="Ручка 2"
          class="absolute top-0 translate-x-full left-52"
        />
      </div>

      <div class="max-w-[566px] space-y-[60px] relative -left-[198.52px]">
        <p class="leading-[33.8px] text-[26px] font-semibold text-white">
          Проявите свою индивидуальность, выбрав подходящее цветовое решение
        </p>

        <button
          class="h-[60px] w-[414px] bg-secondary rounded-[5px] text-white text-lg font-semibold hover:opacity-75"
        >
          Рассчитать стоимость этого окна
        </button>
      </div>
    </div>
  </div>

  <div class="container-main mx-auto grid grid-cols-2 gap-4">
    <div class="shadow-main bg-[#F8F8F8] rounded-lg px-5 py-[22px] flex gap-5">
      <div class="space-y-[27px]">
        <p class="leading-[33.8px] text-[26px] font-semibold">Ламинация</p>

        <img
          class="w-[141px] h-[27px]"
          src="lgHausysLogo.webp"
          alt="lgHausysLogo"
        />
      </div>
    </div>

    <div></div>
  </div>
</section>
