<div
  role="button"
  data-color="{=$img}"
  data-title="{=$title}"
  class="flex flex-col items-center gap-1.5 selectBack transition duration-300 group"
>
  <div
    class="colorSelect rounded-full group-hover:outline p-[0.5px] group-hover:outline-primary group-hover:outline-4 flex-shrink-0 xl:w-[100px] w-14 xl:h-[100px] h-14"
  >
    <img class="rounded-full w-full h-full" src="{=$img}" alt="{=$img}" />
  </div>

  <span
    class="xl:text-base text-xs font-semibold text-center xl:leading-[20.8px] leading-[15.6px] titleLamination"
    >{=$title}</span
  >
</div>
