<div
  role="button"
  data-color="{=$img}"
  class="flex flex-col items-center gap-1.5 selectKnob transition duration-300 group rounded-full"
>
  <div
    style="
      background-image: url({=$img});
      background-repeat: no-repeat;
      background-position-x: 20px;
      background-position-y: -20px;
      background-size: cover;
    "
    class="xl:w-[100px] w-14 xl:h-[100px] h-14 colorSelect group-hover:outline-primary group-hover:outline-4 flex-shrink-0 rounded-full group-hover:outline"
  >
    &nbsp;
  </div>

  <span
    class="xl:text-base text-xs font-semibold text-center xl:leading-[20.8px] leading-[15.6px]"
    >{=$title}</span
  >
</div>
