<div id="selectHouse" class="grid h-[445px] grid-cols-3 gap-x-[42px] gap-y-6">
  <load
    src="src/components/Quiz/components/House/Card.html"
    img="house1.webp"
    title="Кирпичный дом"
    class="active"
    value="house1"
    checked="checked"
  />

  <load
    src="src/components/Quiz/components/House/Card.html"
    img="house2.webp"
    title="Панельный дом"
    class=""
    value="house2"
    checked=""
  />

  <load
    src="src/components/Quiz/components/House/Card.html"
    img="house3.webp"
    title="Частный дом"
    class=""
    value="house3"
    checked=""
  />

  <load
    src="src/components/Quiz/components/House/Card.html"
    img="house4.webp"
    title="Лоджия/балкон"
    class=""
    value="house4"
    checked=""
  />

  <load
    src="src/components/Quiz/components/House/Card.html"
    img="house5.webp"
    title="Входная группа"
    class=""
    value="house5"
    checked=""
  />
</div>
