<div
  class="rounded-lg xl:py-6 py-5 xl:px-5 px-2.5 relative linear-gradient-gray shadow-main xl:space-y-5 space-y-2.5"
>
  <div class="flex justify-between xl:items-start items-center xl:gap-0 gap-1.5">
    <p class="xl:text-[26px] text-xl leading-[26px] font-semibold title-card-options">
      {=$title}
    </p>

    <img
      src="{=$logo}"
      alt="Логотип"
      class="xl:max-h-[34px] max-h-[41px] xl:max-w-[147px] max-w-[119px] xl:relative bottom-2"
    />
  </div>

  <p
    class="xl:text-lg text-base xl:leading-[23.4px] leading-[20.8px] xl:w-[292px] w-full"
  >
    {=$text}
  </p>

  <img
    class="xl:absolute xl:mx-0 mx-auto -right-[30px] -bottom-[23px] xl:max-h-[174px] max-h-[167px] xl:max-w-[170px] max-w-[186px]"
    src="{=$img}"
    alt="Опция"
  />
</div>
