<section class="container-main mx-auto space-y-[60px]">
  <h4 class="text-center max-w-[716px] mx-auto">
    Большой выбор <span>дополнительных опций</span>
  </h4>

  <div
    class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-x-[54px] gap-y-[47px]"
  >
    <load
      src="src/components/Options/Card.html"
      img="doubleGlazedWindows.webp"
      title="<span>Энергосберегающие</span> стеклопакеты"
      text="Благодаря специальному напылению, стекло отражает тепловую энергию внутри помещения, сохраняя тепло"
    />
    <load
      src="src/components/Options/Card.html"
      img="windowSills.webp"
      title="Подоконники"
      text="Максимальная прочность<br/>и долговечность, устойчивость к солнечным лучам, горячим предметам и влаге"
      logo="optionsLogoDanke.webp"
    />
    <load
      src="src/components/Options/Card.html"
      img="Sprats.webp"
      title="Шпросы"
      text="Декоративные элементы,<br/>для оформлении окон.
      Широкий ассортимент различных видов шпросов"
      logo="optionsLogoCrokusPlast.webp"
    />
    <load
      src="src/components/Options/Card.html"
      img="hiddenHardware.webp"
      title="Скрытая фурнитура"
      text="Фурнитура Roto NT Designo удерживает угол открывания, а также делает окно теплее<br/>и долговечнее"
      logo="optionsLogoRoto.webp"
    />
    <load
      src="src/components/Options/Card.html"
      img="mosquitoNet.webp"
      title="Москитные сетки<br/><span>внутреннего типа<span>"
      text="Современная конструкция, которая отличается более высокой надежностью и простотой использования"
    />
    <load
      src="src/components/Options/Card.html"
      img="slope.webp"
      title="Откосы"
      text="Защищают помещение<br/>от проникновения холодаи придают завершенный<br/>вид окну"
    />
  </div>
</section>
