@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#sliderGallery .swiper-pagination .swiper-pagination-bullet {
  @apply !w-3.5 !h-3.5 bg-primary/25 transition-all rounded-full;
}

#sliderGallery .swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-primary;
}

@layer base {
  html {
    @apply scroll-smooth font-Montserrat text-[#333333] overflow-x-hidden;
  }

  .container-main {
    @apply max-w-[1368px] w-full xl:px-0 px-2.5;
  }

  input {
    @apply ring-0 outline-none;
  }

  button {
    @apply transition-all duration-300 rounded-[5px] flex justify-center items-center text-center;
  }

  a {
    @apply transition-all duration-300;
  }

  h2,
  h4 {
    @apply font-light text-[40px] leading-[52px];
  }

  h2 span,
  h4 span {
    @apply font-semibold;
  }
}

@layer components {
  .shadow-button-main {
    box-shadow: 0px 5px 0px 0px #960303e5;
  }

  .linear-gradient-gray {
    background: linear-gradient(98.57deg, #e8ebf0 5.78%, #e7edf9 76.65%);
  }

  .shadow-main {
    box-shadow: 0px 2px 10px 0px #00000026;
  }

  .title-card-options span {
    @apply font-normal;
  }

  .selectBack.active .colorSelect,
  .selectKnob.active .colorSelect {
    @apply outline outline-4 outline-primary;
  }

  .shadow-debit-card {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
  }

  .linear-gradient-blue {
    background: linear-gradient(136.27deg, #4790d4 15.69%, #0067c7 86.04%);
  }

  .linear-gradient-gray-text {
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      rgba(254, 255, 251, 0.71) 100%
    );
  }

  .linear-gradient-gray-position {
    background: linear-gradient(136.27deg, #ffffff 15.69%, #efefef 86.04%);
  }

  .shadow-agreement-name-and-position {
    box-shadow: 0px 1px 5px 0px #8a8f907d;
  }

  .shadow-agreement-text {
    box-shadow: 0px 4px 53px 0px #00000040;
  }

  .workers-text-edge span {
    @apply font-semibold;
  }

  .linear-gradient-green {
    background: linear-gradient(
      180deg,
      #4cb051 0%,
      #6ec873 51.46%,
      rgba(76, 176, 81, 0.87) 100%
    );
  }

  .shadow-certificate {
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
  }

  .shadow-button-price-standart {
    filter: drop-shadow(0px 5px 0px 0px #b84d00);
  }

  .select-gallerys-button {
    @apply hover:bg-primary hover:text-white rounded-[5px] h-[60px] w-full text-lg font-medium leading-[23.4px] text-[#868686] outline outline-primary outline-1;
  }

  .select-gallerys-button.active {
    @apply bg-primary text-white;
  }
}
