<section class="mx-auto container-main flex gap-[118px] !mt-[200px] bg-[#F9F9F9E5]">
  <div class="w-[409px] space-y-10">
    <h2>Оставьте заявку на <span>бесплатный выезд</span> мастера на замер</h2>

    <div class="space-y-6">
      <load
        src="src/components/Workers/Card.html"
        icon="freeDriveEdge1.webp"
        text="Наш мастер <span>приедет на<br/> замер</span> в назначенное время"
      />
      <load
        src="src/components/Workers/Card.html"
        icon="freeDriveEdge2.webp"
        text="Полностью <span>проконсультирует</span><br/> по всем возникшим вопросам"
      />
      <load
        src="src/components/Workers/Card.html"
        icon="freeDriveEdge3.webp"
        text="Рассчитает <span>точную стоимость</span><br/> с учетом работ и материалов"
      />
      <load
        src="src/components/Workers/Card.html"
        icon="freeDriveEdge4.webp"
        text="Заключит <span>договор</span><br/> у вас на дому"
      />
    </div>
  </div>

  <div class="flex items-center relative">
    <img
      class="h-[644px] w-[340px]"
      src="freeDrivePeople.webp"
      alt="Работник"
    />

    <load src="src/components/FreeDrive/Form.html" />

    <div class="absolute bottom-0 -left-[46px] w-[200px]">
      <div
        class="linear-gradient-blue shadow-agreement-name-and-position w-full h-11 rounded-[7px] flex justify-center items-center text-white text-center text-lg font-bold leading-[23.4px]"
      >
        Сергей
      </div>

      <div
        class="shadow-agreement-name-and-position linear-gradient-gray-position w-full h-11 rounded-[7px] flex justify-center items-center text-center leading-[18.2px] text-sm font-light"
      >
        Опыт работы&nbsp;<span class="font-semibold">с 2002 г</span>
      </div>
    </div>
  </div>
</section>
